<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-inapps-ios-appstore" version="1.0.2">
    <name>InAppsAppStore</name>
    <description>iOS In-App Purchase API</description>
    <license>MPL 2.0</license>
    <keywords>cordova,InApps,AppStore,Store,InApp Purchase,In,App,Payment,Billing,IAP</keywords>
    <repo>https://github.com/ludei/atomic-plugins-inapps</repo>       
    <platform name="ios">
        <header-file src="src/deps/LDInAppService.h" />
        <source-file src="src/deps/LDInAppService.m" />
        <header-file src="src/LDInAppServicePlugin.h" />
        <source-file src="src/LDInAppServicePlugin.m" />

        <framework src="StoreKit.framework" />
        <framework src="Security.framework" />

        <config-file target="config.xml" parent="/*">
	    	<feature name="InAppService">
	        	<param name="ios-package" value="LDInAppServicePlugin" />
	    	</feature>
    	</config-file>
    </platform>

    <dependency id="cocoon-plugin-inapps-common" />
</plugin>