<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.ludei.inapps.android.googleplay" version="1.0.2">
    <name>InAppsGooglePlay</name>
    <description>Android Google Play In app purchase implementation</description>
    <license>Apache 2.0</license>
    <keywords>cordova,InApps,Google Play,InApp Purchase,Billing,IAP</keywords>
    <platform name="android">
        <source-file src="src/GooglePlayInAppServicePlugin.java" target-dir="src/com/ludei/inapps/cordova" />
        <source-file src="src/deps/com/ludei/inapps/googleplay/GooglePlayInAppService.java" target-dir="src/com/ludei/inapps/googleplay" />
        <source-file src="src/deps/com/ludei/inapps/googleplay/Utils.java" target-dir="src/com/ludei/inapps/googleplay" />
        <source-file src="src/deps/com/android/vending/billing/IInAppBillingService.aidl" target-dir="src/com/android/vending/billing" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="InAppService" >
                <param name="android-package" value="com.ludei.inapps.cordova.GooglePlayInAppServicePlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="com.android.vending.BILLING" />
        </config-file>

    </platform>

    <dependency id="com.ludei.inapps.android.common" />

</plugin>