<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-inapps-android-googleplay" version="1.0.1">
    <name>InAppsGooglePlay</name>
    <description>Android Google Play In-App Purchase implementation</description>
    <license>MPL 2.0</license>
    <keywords>cordova,InApps,AppStore,Store,InApp Purchase,In,App,Payment,Billing,IAP,Google,Play</keywords>
    <repo>https://github.com/ludei/atomic-plugins-inapps</repo>        
    <platform name="android">
        <source-file src="src/GooglePlayInAppServicePlugin.java" target-dir="src/com/ludei/inapps/cordova" />
        <source-file src="src/deps/com/ludei/inapps/googleplay/GooglePlayInAppService.java" target-dir="src/com/ludei/inapps/googleplay" />
        <source-file src="src/deps/com/ludei/inapps/googleplay/Utils.java" target-dir="src/com/ludei/inapps/googleplay" />
        <source-file src="src/deps/com/android/vending/billing/IInAppBillingService.aidl" target-dir="src/com/android/vending/billing" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="InAppService" >
                <param name="android-package" value="com.ludei.inapps.cordova.GooglePlayInAppServicePlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="com.android.vending.BILLING" />
        </config-file>

    </platform>

    <dependency id="cocoon-plugin-inapps-android-common" />

</plugin>