<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-inapps-android-amazon" version="1.0.3">
    <name>InAppsAmazon</name>
    <description>Amazon In-App Purchase implementation</description>
    <license>MPL 2.0</license>
    <keywords>cordova,InApps,AppStore,Store,InApp Purchase,In,App,Payment,Billing,IAP</keywords>
    <repo>https://github.com/ludei/atomic-plugins-inapps</repo>
    <platform name="android">
        <source-file src="src/AmazonInAppServicePlugin.java" target-dir="src/com/ludei/inapps/cordova" />
        <source-file src="src/deps/com/ludei/inapps/amazon/AmazonInAppService.java" target-dir="src/com/ludei/inapps/amazon" />
        <source-file src="src/deps/in-app-purchasing-2.0.61.jar" target-dir="libs"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="InAppService" >
                <param name="android-package" value="com.ludei.inapps.cordova.AmazonInAppServicePlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name = "com.amazon.device.iap.ResponseReceiver" >
                <intent-filter>
                    <action android:name = "com.amazon.inapp.purchasing.NOTIFY"
                        android:permission = "com.amazon.inapp.purchasing.Permission.NOTIFY" />
                </intent-filter>
            </receiver>
        </config-file>

    </platform>

    <dependency id="cocoon-plugin-inapps-android-common" />

</plugin>